body
{
  font-family: 'Comfortaa', cursive;
}
.img-navbar
{
  margin-top: -10px;
}
.video-container
{
  position: relative;;
  width: 100%;
  height: 50%;
  margin-top:70px;
  overflow-x: hidden;
}
#video video
{
  min-width: 100%;
  min-height: 30%;
}
#video-teaser
{
  position: relative;
  max-width: 100%;
  max-height: 50%;
}
.slider-container
{
  display: inline-block;
  position: absolute;
  height: 100%;
  z-index: 1002;
}
.slide
{
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  float: left;
  text-align: center;
  height: 99% !important;
  padding-top:5%;
}
.slide-header
{
  font-family: 'Coiny', cursive;
  font-size: 5em;
  color: #FFF;
}
.slide-body
{
  font-family: 'Comfortaa', cursive;
  font-size: 3em;
  color: #FFF;
}
.time-line-izq
{
  position: relative;
  width: 40%;
  margin-left: 5%;
  padding: 2%;
  height: auto;
  float: left;
  border: 1px solid #EEE;
  border-radius: 0px 15px 0px 15px;
}
.img-dotted-left
{
  position: relative;
  margin-top: 30%;
}
.img-dotted-right
{
  position: relative;
  margin-top: 30%;
  margin-left: 15%;
}
.time-line-der
{
  position: relative;
  width: 40%;
  margin-right: 5%;
  padding: 5%;
  height: auto;
  float: right;
  border: 1px solid #EEE;
  border-radius: 0px 15px 0px 15px;
}
.txt-time-line
{
  position: relative;
  width: 100%;
  height: 100%;
}
.txt-time-line > h3
{
  text-align: center;
}
.img-time-line
{
  position: relative;
  width: 100%;
  text-align: center;
}
.row-price
{
  position: relative;
  width: 100%;
  display: inline-block;
}
.price-tag
{
  position: relative;
  width: 40%;
  padding: 2%;
  margin: 5%;
  text-align: center;
  float: left;
  border: 1px solid #cdc8b1;
  border-radius: 5px;
  text-decoration: none;
}
.buy-btn
{
  font-size: 18pt;
  width: 100px;
  height: 100px;
}
.footer
{
  position: fixed;
  margin-top: 10%;
  width: 100%;
  height: 20%;
  bottom: 0%;
  background-color: #424242;
  color: #FFF;
}
.foot-section
{
  width: 33%;
  height: auto;
  margin: auto;
  text-align: center;
  padding: 2%;
}
.social
{
  display: inline-block;
  padding: 0;
  position: relative;
  text-align: center;
}
.img-social
{
  width: 64px;
  margin: 20px;
  float: right;
}
.banner-container
{
  position: relative;
  width: 100%;
  height: 30%;
  margin: 0px;
  padding: 100px;
  margin-top: 70px;
  text-align: center;
  /*background-color: #FF5252;*/
}
#banner-videogames
{
  background-color: #009688;
}
#banner-cirkuits
{
  background-color: #FFC400;
}
.center
{
  position: relative;
  width: 100%;
  margin: 0px;
  margin-top: -50px;
  text-align: center;
  padding: 5%;
}
.text-about > p
{
  text-align: justify;
}

.row-thumb
{
  position: relative;
  margin: 5% 0% 0% 0%;
  padding: 0px;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.thumb-wrapper
{
  position: relative;
  width: 28%;
  margin: 0% 5% 2% 0%;
  padding: 1%;
  float: left;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
}

.thumb-nail
{
  position: relative;
  width: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.txt-wrapper
{
  position: relative;
  margin: 0px;
  padding: 1%;
  text-align: justify;
}

#header
{
  margin-top: 10%;
  margin-bottom: 10%;
}

@media screen and (min-width: 450px) and (max-width: 990px)
{
  body
  {
    font-family: 'Comfortaa', cursive;
  }
  .banner-container
  {
    position: relative;
    width: 100%;
    height: 30%;
    margin: 0px;
    padding: 50px;
    margin-top: 70px;
    text-align: center;
    background-color: #FF5252;
  }
  .slide-header
  {
    font-family: 'Coiny', cursive;
    font-size: 24pt;
    color: #FFF;
  }
  .slide-body
  {
    font-family: 'Comfortaa', cursive;
    font-size: 24pt;
    color: #FFF;
  }
  .time-line-izq, .time-line-der
  {
    position: relative;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    height: auto;

  }
  .txt-time-line
  {
    position: relative;
    padding: 2%;
    width: 100%;
    height: 100%;
  }
  .txt-time-line > h3
  {
    text-align: center;
  }
  .img-time-line > img
  {
    position: relative;
    width: 200px;
    text-align: center;
  }
  .img-dotted-left
  {
    display: none;
  }
  .img-dotted-right
  {
    display: none;
  }
  .row-price
  {
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 2%;
  }
  .price-tag
  {
    position: relative;
    width: 100%;
    margin: 0px;
    text-align: center;
    border: 1px solid #cdc8b1;
    border-radius: 5px;
    text-decoration: none;
  }
  .buy-btn
  {
    font-size: 12pt;
    width: 100px;
    height: 100px;
  }

  .img-dotted-left
  {
    display: none;
  }
  .img-dotted-right
  {
    display: none;
  }

  .footer
  {
    position: fixed;
    margin-top: 5%;
    width: 100%;
    height: 25%;
    background-color: #424242;
    color: #FFF;
  }
  .foot-section
  {
    width: 33%;
    height: auto;
    margin: auto;
    text-align: center;
    padding: 2%;
  }
  .social
  {
    display: inline-block;
    padding: 0;
    width: 65%;
    position: relative;
    margin-left: 35%;
  }
  .img-social
  {
    width: 64px;
    margin: 1%;
    float: left;
  }
  .thumb-wrapper
  {
    position: relative;
    width: 100%;
    margin: 5% 0% 0% 0%;
    padding: 1%;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
  }

  .thumb-nail
  {
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
  .txt-wrapper
  {
    position: relative;
    margin: 0px;
    padding: 1%;
    text-align: justify;
  }
}

@media screen and (min-width: 320px) and (max-width: 450px)
{
  body
  {
    font-family: 'Comfortaa', cursive;
  }
  .banner-container
  {
    position: relative;
    width: 100%;
    height: 30%;
    margin: 0px;
    padding: 50px;
    margin-top: 70px;
    text-align: center;
    background-color: #FF5252;
  }
  .slide-header
  {
    font-family: 'Coiny', cursive;
    font-size: 16pt;
    color: #FFF;
  }
  .slide-body
  {
    font-family: 'Comfortaa', cursive;
    font-size: 10pt;
    color: #FFF;
  }
  .time-line-izq, .time-line-der
  {
    position: relative;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    height: auto;

  }
  .txt-time-line
  {
    position: relative;
    padding: 2%;
    width: 100%;
    height: 100%;
  }
  .txt-time-line > h3
  {
    text-align: center;
  }
  .img-time-line > img
  {
    position: relative;
    width: 200px;
    text-align: center;
  }
  .img-dotted-left
  {
    display: none;
  }
  .img-dotted-right
  {
    display: none;
  }
  .row-price
  {
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 2%;
  }
  .price-tag
  {
    position: relative;
    width: 100%;
    margin: 0px;
    text-align: center;
    border: 1px solid #cdc8b1;
    border-radius: 5px;
    text-decoration: none;
  }
  .buy-btn
  {
    font-size: 12pt;
    width: 100px;
    height: 100px;
  }
  .footer
  {
    position: fixed;
    margin-top: 30%;
    width: 100%;
    height: 25%;
    bottom: 0%;
    background-color: #424242;
    color: #FFF;
  }
  .foot-section
  {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0%;
    text-align: center;
  }
  .social
  {
    display: inline-block;
    padding: 0;
    width: 80%;
    position: relative;
    margin-left: 20%;
  }
  .img-social
  {
    width: 64px;
    margin: 1%;
    float: left;
  }

  .thumb-wrapper
  {
    position: relative;
    width: 100%;
    margin: 5% 0% 0% 0%;
    padding: 1%;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
  }

  .thumb-nail
  {
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
  .txt-wrapper
  {
    position: relative;
    margin: 0px;
    padding: 1%;
    text-align: justify;
  }
}
